<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bella's Bakery</title>
  <%- include('./partials/head.ejs') %>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
    <header id="home">
      <div class="container-fluid header-content">
        <div class="row">
          <div class="col">
            <div class="content-box text-center text-light">
              <h1>Bella's Bakery</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>